*.iml
.gradle
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/deviceManager.xml
/.idea/markdown.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore
app/release/
*.apk
*.aab
*.keystore
*.jks
*.log